<div id="column_999997" class="flex w-full flex-col ">
	<cl-card id="noDataCard" [properties]="noDataCardProperties" [hidden]="isPipelinesDataAvailable">
		<div id="column_9" class="flex w-full gap-4 flex-col items-center">
			<cl-icon id="noDataIcon" [properties]="noDataIconProperties">
			</cl-icon>
			<cl-label id="NoDataLabel" [properties]="NoDataLabelProperties">
			</cl-label>
			<cl-button id="addButton" [properties]="addButtonProperties">
			</cl-button>
		</div>
	</cl-card>
	<cl-card id="dataCard" [properties]="dataCardProperties" [hidden]="!isPipelinesDataAvailable">
		<cl-data-grid
		    id="dataGrid1"
		    class="overflow-auto"
		    [data]="dataGrid1Properties.data!"
		    [properties]="dataGrid1Properties"
		    [showLoading]="dataGrid1Properties.showLoading!"
		    [totalRecords]="dataGrid1Properties.totalRecords"
		    [matSortActive]="dataGrid1Properties.matSortActive!"
		    [matSortDirection]="dataGrid1Properties.matSortDirection!">
		</cl-data-grid>
	</cl-card>
</div>
